# Godot 4+ specific ignores
.godot/
The Red Robot Radio.arm64
The Red Robot Radio.pck
The Red Robot Radio.x86_64
The Red Robot Radio.apk
The Red Robot Radio.apk.idsig
The Red Robot Radio.aab
The Red Robot Radio.aab.idsig
android/
export_presets.cfg
